/**
 * @file
 * GOV.UK Webform date composite styles.
 */

.govuk-webform-elements--wrapper .form-type-number {
  margin-right: 20px;
  margin-bottom: 0;
  display: inline-block;
  max-width: 8ex;
}
.govuk-webform-elements--wrapper .form-type-number:last-child {
  max-width: 12ex;
  margin-right: 0;
}
.govuk-webform-elements--wrapper .form-type-number input {
  width: 100%;
  -moz-appearance: textfield;
}
.govuk-webform-elements--wrapper input[type=number]::-webkit-inner-spin-button,
.govuk-webform-elements--wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
