{#
/**
 * @file
 * Default theme implementation of a webform date composite.
 *
 * Available variables:
 * - content: The webform date composite to be output.

 * @see template_preprocess_govuk_webform_elements()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('govuk_webform_elements/govuk_webform_elements') }}
{% if flexbox %}
  <div class="webform-flexbox govuk-date-input">
    {% if content.day %}
      <div class="webform-flex webform-flex--1 govuk-date-input__item"><div class="webform-flex--container govuk-form-group">{{ content.day }}</div></div>
    {% endif %}
    {% if content.month %}
      <div class="webform-flex webform-flex--1 govuk-date-input__item"><div class="webform-flex--container govuk-form-group">{{ content.month }}</div></div>
    {% endif %}
    {% if content.year %}
      <div class="webform-flex webform-flex--1 govuk-date-input__item"><div class="webform-flex--container govuk-form-group">{{ content.year }}</div></div>
    {% endif %}
  </div>
{% else %}
  <div class="govuk-date-input">
    {% if content.day %}
      <div class="govuk-date-input__item"><div class="govuk-form-group ">{{ content.day }}</div></div>
    {% endif %}
    {% if content.month %}
      <div class="govuk-date-input__item"><div class="govuk-form-group">{{ content.month }}</div></div>
    {% endif %}
    {% if content.year %}
      <div class="govuk-date-input__item"><div class="govuk-form-group">{{ content.year }}</div></div>
    {% endif %}
  </div>
{% endif %}

